@charset 'utf-8';

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font: 16px sans-serif;
  margin: 0;
  padding: 0;
}

.infoContainer {
  margin: 0 15%;
}

hr {
  margin: 20px 0 30px;
}

.reposBoxes {
  display: flex;
  justify-content: space-between;
}

.reposBoxes div {
  width: 48%;
}

.loader {
  background-color: #fff;
  color: #6C3EAA;
  text-align: center;
  width: 100%;
  animation-name: loaderbox;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.loader p {
  padding: 15px;
  text-transform: uppercase;
}

@keyframes loaderbox {
  from {
    background-color: #fff;
    color: #6C3EAA;
  }

  to {
    background-color: #6C3EAA;
    color: #fff;
  }
}
